{% extends 'base.web.html.twig' %}
{% import 'default/utilidades.html.twig' as utilidades %}

{% block extra_css %}
{% endblock extra_css %}

{% block main %} 
        <div class="container" role="main">			
            <div class="row row-cabecera">
                <div class="col col-logo">
                    <img src="/img/aragon-open-data.png" alt="Aragón Open Data">
                </div>
                <div class="col col-menu">
                    <div class="hamburguesa">
                        <div class="wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-bloques">
                <h1>Oops! Ha ocurrido un error</h1>
                <h2>El servidor a respondido "{{ status_code }} {{ status_text }}".</h2>

                <div>
                    Puede que algo esté roto. Por favor, háganos saber lo que estaba haciendo cuando ocurrió este error.
                    Lo arreglaremos lo más pronto posible. Pedimos disculpas por cualquier inconveniente causado. </br>
                    Puede volver a la aplicación desde es siguiente enlace:  <a href="{{ path('portada') }}">Volver a la pagina inicio</a>.
                </div>
            </div>
        </div>
   
{% endblock main %}