{% import 'default/utilidades.html.twig' as utilidades %}

<div class="listadoResultados">
        <div class="resource-list" id="resource-list" name="resource-list">
        {% for resource in resourcesArray %}
            {{ utilidades.pintaRessource(resource.tipo,resource.fecha,resource.descripcion, resource.url) }} 
        {% endfor %} 
    </div>
</div>	
